@font-face {
    font-family: "exljbris";
    src: url("/lib/exljbris - MuseoSans-500.otf") format("opentype");
}
@font-face {
    font-family: "maven";
    src: url("/lib/MavenProLight-300.otf") format("opentype");
}
@font-face {
    font-family: "steelfish";
    src: url("/lib/steelfish rg.ttf") format("opentype");
}

html {padding: 10px 10px 200px; font-family: exljbris; color: #888b8d; }
body {margin: 0 auto; width: 820px; }
a {color: #8bb8e8; }
a:visited {color: #9595d2; }
a:hover {color: #64ccc9; }

header h2 {
    margin: 0 0 32px;
    text-align: center
}

article {padding: 0; }
article h1 {text-align: center; }
article h2 {text-align: center; }

section {
    float: right;
    width: 400px;
}
section h3 {
    margin: 0;
    font-family: steelfish;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0.04em;
    color: #9595d2;
}
section p {
    margin: 12px 0;
    padding-right: 32px;
    font-family: steelfish;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
}
section p a {
    padding: 8px 16px;
    display: block;
    background: #888b8d;
    text-decoration: none;
    color: #fff;
}
section p a:visited, section p a:hover {
    color: #fff;
}
section p a i {
    float: left;
}
#email a {background: #64ccc9; }
#facebook a {background: #8bb8e8; }
#instagram a {background: #dd7fd3; }
#periscope a {background: #9595d2; }
#youtube a {background: #f97599; }

#email a:hover {background: #ff9d68; }
#facebook a:hover {background: #ff9d68; }
#instagram a:hover {background: #ff9d68; }
#periscope a:hover {background: #ff9d68; }
#youtube a:hover {background: #ff9d68; }

section img {
    width: 100%;
}

/* Mobile layout */
@media (max-width: 800px) {
    body {width: auto; }
    header h2 {margin: 0; }
    header h2 img {width: 250px; }
    section {margin: 0 auto; float: none; width: auto; max-width: 400px; }
    section h3 {text-align: center; }
    section p {padding-right: 0; }
}

/*
#fed141 - yellow
#ff9d68 - orange
#f97599 - pink
#dd7fd3 - fuchsia
#9595d2 - purple
#8bb8e8 - blue
#64ccc9 - green
#888b8d - gray
*/
