* {box-sizing: border-box; }

@font-face {
    font-family: "maven";
    src: url("/lib/MavenProLight-300.otf") format("opentype");
}
@font-face {
    font-family: "steelfish";
    src: url("/lib/steelfish rg.ttf") format("opentype");
}

.mdl-layout__title {
    font-family: steelfish;
    font-size: 24px;
    text-transform: uppercase;
}

.mdl-layout__title a {
    text-decoration: none;
}

.mdl-card {
    margin: 8px;
    display: block;
    width: auto; height: auto;
    min-height: auto;
}
.mdl-card__media {
    text-align: center;
}
.mdl-card__media img {
    width: 100%;
    max-width: 400px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.mdl-button--fab {
    line-height: 48px;
    position: fixed;
    bottom: 32px; right: 32px;
    z-index: 1;
}

.mdl-card__actions {
    text-align: right;
}
.mdl-card__actions button {
    margin-left: 8px;
}

.selected {
    box-shadow: 2px 2px 8px black;
    position: relative;
    top: -1px; left: -1px;
}

h3 {
    font-family: steelfish;
    text-transform: capitalize;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    height: 64px; width: 100%;
    background: #fff;
    text-align: center;
    z-index: 1;
}

#markSoldDeleted, #moveCurrent, #cleanUpAll, #cleanUpSelected, #moveDeletedCurrent {
    display: none;
}

#inventory img {width: 90px; margin: 4px; }

#selectStyles {
    margin: 8px 8px 4px;
    text-transform: capitalize;
    font-size: 24px;
    width: 95%;
}

/* color selection */
#colors {padding-top: 2px; }
#colors > div {
    margin: 0 5px;
    width: 20px; height: 20px;
    display: inline-block;
}
.selectedColor {
    box-shadow: 1px 1px 3px black;
    position: relative;
    top: -1px; left: -1px;
}
#colorYellow {background-color: #fed141; }
#colorOrange {background-color: #ff9d68; }
#colorPink {background-color: #f97599; }
#colorFuchsia {background-color: #dd7fd3; }
#colorPurple {background-color: #9595d2; }
#colorBlue {background-color: #8bb8e8; }
#colorGreen {background-color: #64ccc9; }
#colorGray {background-color: #888b8d; }
